<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<Files>
		<MaxRecentFolders>10</MaxRecentFolders>
		<MaxRecentFiles>10</MaxRecentFiles>
		<MaxRecentProjects>10</MaxRecentProjects>
	</Files>
	<Workspace>
		<Colours>
			<ColourBackground>0 0 0 0</ColourBackground>
			<ColourSelector>0 1 0 1</ColourSelector>
			<ColourSelectorInactive>0 0 0 0.5</ColourSelectorInactive>
		</Colours>
		<TextureScale>
			<ScaleValue.List>
				<Value>50</Value>
				<Value>100</Value>
				<Value>200</Value>
				<Value>400</Value>
				<Value>800</Value>
				<Value>1600</Value>
			</ScaleValue.List>
		</TextureScale>
		<TextureName>TextureLayer_LayoutEditor_Widgets</TextureName>
	</Workspace>
	<Settings>
		<GridStep>5</GridStep>
		<ShowName>1</ShowName>
		<ShowType>1</ShowType>
		<ShowSkin>1</ShowSkin>
		<LoadLastProject>false</LoadLastProject>
		<WorkspaceTextureSize>1024 1024</WorkspaceTextureSize>
	</Settings>
	<Resources>
		<Resource.List>
			<Value>EditorTheme.xml</Value>
			<Value>EditorLanguage.xml</Value>
			<Value>MessageBoxResources.xml</Value>
			<Value>MyGUI_GeneratedFonts.xml</Value>
			<Value>MyGUI_Fonts.xml</Value>
			<Value>MyGUI_CommonSkins.xml</Value>
			<Value>MyGUI_BlackOrangeTheme.xml</Value>
			<Value>MyGUI_PointerImages.xml</Value>
			<Value>MyGUI_Pointers.xml</Value>
			<Value>PointersW32.xml</Value>
			<Value>SelectionSkins.xml</Value>
			<Value>TextureViewerSkins.xml</Value>
			<Value>EditorReplaceSkins.xml</Value>
			<Value>ButtonExpandSkin.xml</Value>
			<Value>MyGUI_Layers.xml</Value>
			<Value>EditorSettings.xml</Value>
			<Value>FrameworkFonts.xml</Value>
			<Value>MyGUI_DarkSkin.xml</Value>
			<Value>MyGUI_DarkTemplate.xml</Value>
			<Value>EditorLayers.xml</Value>
			<Value>EditorSettings.xml</Value>
			<Value>SelectionRectsSkin.xml</Value>
		</Resource.List>
	</Resources>
	<Controls>
		<WidgetsWindow>
			<WidgetsButtonWidth>120</WidgetsButtonWidth>
			<WidgetsButtonHeight>20</WidgetsButtonHeight>
			<WidgetsButtonOffset>1</WidgetsButtonOffset>
			<ButtonSkinName>Button_Dark</ButtonSkinName>
		</WidgetsWindow>
	</Controls>
	<Editor>
		<UserSettingsFileName>le_user_settings.xml</UserSettingsFileName>
		<States>
			<State.List>
				<Value>ApplicationState</Value>
				<Value>EditorState</Value>
				<Value>TestState</Value>
			</State.List>
			<Event.List>
				<Value>
					<Name>Start</Name>
					<From>ApplicationState</From>
					<To>EditorState</To>
				</Value>
				<Value>
					<Name>Exit</Name>
					<From>EditorState</From>
					<To>ApplicationState</To>
				</Value>
				<Value>
					<Name>Test</Name>
					<From>EditorState</From>
					<To>TestState</To>
				</Value>
				<Value>
					<Name>Exit</Name>
					<From>TestState</From>
					<To>EditorState</To>
				</Value>
			</Event.List>
			<FirstState>
				<Name>ApplicationState</Name>
				<Event>Start</Event>
			</FirstState>
		</States>
		<Control.List>
			<Value>StatisticInfoControl</Value>
			<Value>FocusInfoControl</Value>
			<Value>MessageBoxFadeControl</Value>
		</Control.List>
	</Editor>
	<EditorState>
		<OpenSaveFileDialogLayout>OpenSaveFileDialog2.layout</OpenSaveFileDialogLayout>
		<SettingsWindowLayout>SettingsWindow.layout</SettingsWindowLayout>
	</EditorState>
</Settings>
