Checks: '\
  -*,\
  modernize-*,\
  \
  -modernize-use-trailing-return-type,\
  -modernize-use-auto,\
  -modernize-pass-by-value,\
  -modernize-use-nodiscard,\
  \
  -modernize-avoid-c-arrays'
# options above are mostly TODO
WarningsAsErrors: "*"
HeaderFilterRegex: '.*'
FormatStyle: file
UseColor: true
