Checks: '\
  -*,\
  modernize-*,\
  \
  -modernize-macro-to-enum,\
  -modernize-use-trailing-return-type,\
  -modernize-use-auto,\
  -modernize-pass-by-value,\
  -modernize-use-nodiscard,\
  \
  -modernize-return-braced-init-list,\
  -modernize-use-emplace,\
  -modernize-use-default-member-init,\
  -modernize-avoid-bind,\
  -modernize-avoid-c-arrays'
# options above are mostly TODO
WarningsAsErrors: "*"
HeaderFilterRegex: '.*'
FormatStyle: file
UseColor: true
