Checks: '\
  -*,\ # definitely good checks
  modernize-*,\
  readability-*,\
  bugprone-parent-virtual-call,\
  \ # intentionally disabled checks
  -modernize-pass-by-value,\
  -modernize-use-auto,\
  -modernize-use-nodiscard,\
  -modernize-use-trailing-return-type,\
  -readability-braces-around-statements,\
  -readability-convert-member-functions-to-static,\
  -readability-identifier-length,\
  -readability-implicit-bool-conversion,\
  -readability-magic-numbers,\
  -readability-redundant-access-specifiers,\
  -readability-suspicious-call-argument,\
  -readability-uppercase-literal-suffix,\
  \ # TODO
  -modernize-avoid-c-arrays,\
  -readability-use-anyofallof,\
  -readability-function-cognitive-complexity'

WarningsAsErrors: "*"
HeaderFilterRegex: '.*'
FormatStyle: file
UseColor: true
