<?xml version="1.0" encoding="UTF-8"?>
<MyGUI type="Settings">
    <PropertiesPanelView>
        <Property key="PanelMinimized" value="0"/>
        <Property key="PanelMinimized" value="1"/>
        <Property key="PanelMinimized" value="0"/>
        <Property key="PanelMinimized" value="0"/>
        <Property key="PanelMinimized" value="0"/>
        <Property key="PanelMinimized" value="0"/>
    </PropertiesPanelView>
    <SettingsWindow>
        <Property key="Grid" value="8"/>
        <Property key="ShowName" value="1"/>
        <Property key="ShowType" value="1"/>
        <Property key="ShowSkin" value="0"/>
        <Property key="EdgeHide" value="0"/>
    </SettingsWindow>
    <WidgetsWindow>
        <Property key="widgetsButtonWidth" value="115"/>
        <Property key="widgetsButtonHeight" value="24"/>
        <Property key="widgetsButtonsInOneLine" value="3"/>
    </WidgetsWindow>
</MyGUI>
