<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<Files>
		<MaxRecentFolders>10</MaxRecentFolders>
		<MaxRecentFiles>10</MaxRecentFiles>
	</Files>
	<Workspace>
		<Colours>
			<ColourBackground>0 0 0 0</ColourBackground>
			<ColourSelector>0 1 0 1</ColourSelector>
			<ColourSelectorInactive>0 0 0 0.5</ColourSelectorInactive>
		</Colours>
		<TextureScale>
			<ScaleValue.List>
				<Value>50</Value>
				<Value>100</Value>
				<Value>200</Value>
				<Value>400</Value>
				<Value>800</Value>
				<Value>1600</Value>
			</ScaleValue.List>
		</TextureScale>
	</Workspace>
	<Settings>
		<GridStep>1</GridStep>
		<SaveLastTexture>true</SaveLastTexture>
	</Settings>
	<Resources>
		<Resource.List>
			<Value>EditorTheme.xml</Value>
			<Value>EditorLanguage.xml</Value>
			<Value>MessageBoxResources.xml</Value>
			<Value>MyGUI_CommonSkins.xml</Value>
			<Value>MyGUI_PointerImages.xml</Value>
			<Value>MyGUI_Pointers.xml</Value>
			<Value>PointersW32.xml</Value>
			<Value>MyGUI_Layers.xml</Value>
			<Value>MyGUI_Settings.xml</Value>
			<Value>SelectionSkins.xml</Value>
			<Value>TextureViewerSkins.xml</Value>
			<Value>FrameworkFonts.xml</Value>
			<Value>MyGUI_DarkSkin.xml</Value>
			<Value>MyGUI_DarkTemplate.xml</Value>
			<Value>Hotkeys.xml</Value>
			<Value>SelectionRectsSkin.xml</Value>
		</Resource.List>
	</Resources>
	<Editor>
		<UserSettingsFileName>ie_user_settings.xml</UserSettingsFileName>
		<DataTypeFileName>ImageDataType.xml</DataTypeFileName>
		<ExportSerializer>ImageExportSerializer</ExportSerializer>
		<DefaultScope>Image</DefaultScope>
		<States>
			<State.List>
				<Value>EditorState</Value>
				<Value>ApplicationState</Value>
			</State.List>
			<Event.List>
				<Value>
					<Name>Start</Name>
					<From>ApplicationState</From>
					<To>EditorState</To>
				</Value>
				<Value>
					<Name>Exit</Name>
					<From>EditorState</From>
					<To>ApplicationState</To>
				</Value>
			</Event.List>
			<FirstState>
				<Name>ApplicationState</Name>
				<Event>Start</Event>
			</FirstState>
		</States>
		<Control.List>
			<Value>StatisticInfoControl</Value>
			<Value>FocusInfoControl</Value>
			<Value>MessageBoxFadeControl</Value>
		</Control.List>
	</Editor>
	<EditorState>
		<MainPaneLayout>MainPanel.layout</MainPaneLayout>
		<SettingsWindowLayout>SettingsWindow.layout</SettingsWindowLayout>
		<OpenSaveFileDialogLayout>OpenSaveFileDialog2.layout</OpenSaveFileDialogLayout>
		<DefaultFileName>unnamed.xml</DefaultFileName>
		<DefaultFileMask>*.xml</DefaultFileMask>
	</EditorState>
	<Controls>
		<StatisticInfoControl>
			<Visible>false</Visible>
		</StatisticInfoControl>
		<FocusInfoControl>
			<Visible>false</Visible>
		</FocusInfoControl>
	</Controls>
</Settings>
