<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<WidgetsWindow>
		<widgetsButtonWidth>141</widgetsButtonWidth>
		<widgetsButtonHeight>24</widgetsButtonHeight>
	</WidgetsWindow>
	<Settings>
		<Grid>5</Grid>
		<ShowName>1</ShowName>
		<ShowType>1</ShowType>
		<ShowSkin>1</ShowSkin>
		<MaxRecentFolders>10</MaxRecentFolders>
		<MaxRecentFiles>10</MaxRecentFiles>
		<MaxRecentProjects>10</MaxRecentProjects>
		<ColourBackground>0 0 0 0</ColourBackground>
		<ColourSelector>0 1 0 1</ColourSelector>
		<ColourSelectorInactive>0 0 0 0.5</ColourSelectorInactive>
		<LoadLastProject>false</LoadLastProject>
	</Settings>
	<TextureScale.List>
		<Value>50</Value>
		<Value>100</Value>
		<Value>200</Value>
		<Value>400</Value>
		<Value>800</Value>
		<Value>1600</Value>
	</TextureScale.List>
	<Workspace>
		<TextureName>TextureLayer_LayoutEditor_Widgets</TextureName>
		<TextureSize>1024 1024</TextureSize>
	</Workspace>
</Settings>
